.glossary {
  width: 50%;
  overflow-y: auto;
}

.dictionary-definition-list,
.definition-list {
  list-style: none;
  padding: 0;
}

.terms p {
  display: flex;
  flex-wrap: wrap;
}

.term.searchable {
  cursor: pointer;
  text-decoration: underline;
}

.space {
  white-space: pre;
}

.back-arrow {
  cursor: pointer;
}
