.editor-wrapper {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid black;
  width: 50%;
  overflow-y: auto;
}

.editor-toolbar {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  gap: 10px;
}

.editor-toolbar__button {
  padding: 4px;
  border: 3px solid black;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
}

.block__en + :not(.block__en),
.block__bo + :not(.block__bo) {
  margin-top: 4px;
}

.crosslink {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: initial;
}
